{% extends "layout.html" %}

{% block content %}
<div class="about-section">
    <h1>Quem Somos</h1>
    <p><b>Bem-vindo à J A SOLUÇÃO!</b></p><br>
    <p>Nossa empresa é formada por profissionais com mais de 20 anos de experiência em Tecnologia da Informação, sendo que mais de 12 desses anos foram dedicados ao setor de TI para o varejo e franquias. Somos uma equipe apaixonada por inovação e comprometida com a excelência, atuando em todas as camadas de TI para proporcionar soluções completas e integradas que impulsionam o sucesso dos nossos clientes.</p>
    <p>Ao longo dos anos, desenvolvemos uma expertise única em diversas áreas da TI, incluindo:</p>
    <p><b>Banco de Dados:</b> Garantimos a integridade, segurança e eficiência na gestão dos seus dados, proporcionando bases sólidas para suas operações.</p>
    <p><b>Desenvolvimento Web (Front e Back End):</b> Criamos e mantemos websites e aplicativos robustos, funcionais e atrativos, que oferecem uma experiência de usuário de alta qualidade.</p>
    <p><b>Suporte Técnico a Microinformática:</b> Fornecemos assistência técnica abrangente para computadores e dispositivos, assegurando que sua infraestrutura de TI esteja sempre operando no seu melhor.</p>
    <p><b>Suporte Técnico a Sistemas de Gestão:</b> Especialistas em ERP, WMS, TMS, Administração de Pessoas e Sistemas de PDV, estamos preparados para otimizar seus processos de gestão e aumentar a eficiência do seu negócio.</p>
    <p>Na <b>J A SOLUÇÃO</b>, entendemos que a tecnologia é um pilar fundamental para o crescimento e a competitividade no mercado atual. Por isso, nos dedicamos a oferecer soluções personalizadas que atendem às necessidades específicas de cada cliente, seja ele um pequeno negócio ou uma grande franquia.</p>
    <p>Nossa missão é ser o parceiro de confiança que você pode contar para todas as suas necessidades de TI, ajudando seu negócio a atingir novos patamares de sucesso através da inovação tecnológica e do serviço excepcional.</p>
    <p>Junte-se a nós e descubra como a <b>J A SOLUÇÃO</b> pode transformar sua visão em realidade!</p><br>
</div>
{% endblock %}